<div class="container pb-4">
  <form (ngSubmit)="onSubmit()" class="bg-white p-3 rounded">
    <h3>Datos Personales</h3>
    <label for="inputUrl">Foto (url)</label>
    <input
      type="text"
      name="inputUrl"
      class="form-control"
      [(ngModel)]="nuevo.datosPersonales.fotoUrl"
    />
    <div class="row mb-3">
      <div class="col-sm">
        <label for="inputNombre">Nombre</label>
        <input
          id="inputNombre"
          name="nombre"
          [(ngModel)]="nuevo.datosPersonales.nombre"
          type="text"
          class="form-control"
        />
      </div>
      <div class="col-sm">
        <label for="inputApellido">Apellido</label>
        <input
          id="inputApellido"
          name="apellido"
          [(ngModel)]="nuevo.datosPersonales.apellido"
          type="text"
          class="form-control"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div class="d-flex">
          <button
            type="button"
            class="btn btn-primary btn-sm ms-auto"
            (click)="agregarTelefono()"
          >
            +
          </button>
        </div>
        <div
          *ngFor="
            let telefono of nuevo.datosPersonales.telefonos;
            let i = index
          "
        >
          <label for="inputTelefono{{ i }}">Teléfono {{ i + 1 }}</label>
          <button
            *ngIf="nuevo.datosPersonales.telefonos.length > 1"
            type="button"
            class="btn btn-danger btn-sm mx-2 mb-1"
            (click)="removerTelefono(i)"
          >
            -
          </button>
          <input
            id="inputTelefono{{ i }}"
            type="tel"
            name="telefono"
            class="form-control"
            [(ngModel)]="nuevo.datosPersonales.telefonos[i].numero"
          />
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div class="d-flex">
          <button
            type="button"
            class="btn btn-primary btn-sm ms-auto"
            (click)="agregarEmail()"
          >
            +
          </button>
        </div>
        <div *ngFor="let email of nuevo.datosPersonales.emails; let i = index">
          <label for="inputEmail{{ i }}">Email {{ i + 1 }}</label
          ><button
            *ngIf="nuevo.datosPersonales.emails.length > 1"
            type="button"
            class="btn btn-danger btn-sm mx-2 mb-1"
            (click)="removerEmail(i)"
          >
            -
          </button>
          <input
            id="inputEmail{{ i }}"
            type="email"
            name="email"
            class="form-control"
            [(ngModel)]="nuevo.datosPersonales.emails[i].direccion"
          />
        </div>
      </div>
    </div>
    <hr />
    <div class="row mb-3">
      <div class="col">
        <div class="d-flex">
          <h3>Formación Académica</h3>
          <button
            type="button"
            class="btn btn-primary btn-sm ms-auto"
            (click)="agregarFormacion()"
          >
            +
          </button>
        </div>
        <div *ngFor="let formacion of nuevo.formacionAcademica; let i = index">
          <div class="d-flex">
            <h4 class="my-2">Formación {{ i + 1 }}</h4>
            <button
              *ngIf="nuevo.formacionAcademica.length > 1"
              type="button"
              class="btn btn-danger btn-sm mx-2 mb-1"
              (click)="removerFormacion(i)"
            >
              -
            </button>
          </div>
          <label for="inputFormacionGrado{{ i }}">Grado</label>
          <input
            id="inputFormacionGrado{{ i }}"
            type="text"
            name="grado"
            class="form-control"
            min="0"
            [(ngModel)]="nuevo.formacionAcademica[i].grado"
          />
          <label for="inputFormacionInstitucion{{ i }}">Institución</label>
          <input
            id="inputFormacionInstitucion{{ i }}"
            type="text"
            name="institución"
            class="form-control"
            min="0"
            [(ngModel)]="nuevo.formacionAcademica[i].institucion"
          />
          <div class="row">
            <div class="col">
              <label for="inputFormacionFechaInicio{{ i }}">Inicio</label>
              <input
                id="inputFormacionFechaInicio{{ i }}"
                type="date"
                name="fecha"
                class="form-control"
                [(ngModel)]="nuevo.formacionAcademica[i].fechaInicio"
              />
            </div>
            <div class="col">
              <label for="inputFormacionFechaFin{{ i }}">Fin</label>
              <input
                id="inputFormacionFechaFin{{ i }}"
                type="date"
                name="fecha"
                class="form-control"
                [(ngModel)]="nuevo.formacionAcademica[i].fechaFin"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row mb-3">
      <div class="col">
        <div class="d-flex">
          <h3>Experiencia Laboral</h3>
          <button
            type="button"
            class="btn btn-primary btn-sm ms-auto"
            (click)="agregarExperiencia()"
          >
            +
          </button>
        </div>
        <div
          *ngFor="let experiencia of nuevo.experienciaLaboral; let i = index"
        >
          <div class="d-flex">
            <h4 class="mt-2">Experiencia {{ i + 1 }}</h4>
            <button
              *ngIf="nuevo.experienciaLaboral.length > 1"
              type="button"
              class="btn btn-danger btn-sm mx-2 mb-1"
              (click)="removerExperiencia(i)"
            >
              -
            </button>
          </div>
          <label for="inputExperienciaPuesto{{ i }}">Puesto</label>
          <input
            type="text"
            id="inputExperienciaPuesto{{ i }}"
            class="form-control"
            name="puesto"
            [(ngModel)]="nuevo.experienciaLaboral[i].puesto"
          />
          <label for="inputExperienciaEmpresa{{ i }}">Empresa</label>
          <input
            type="text"
            id="inputExperienciaEmpresa{{ i }}"
            class="form-control"
            name="empresa"
            [(ngModel)]="nuevo.experienciaLaboral[i].empresa"
          />
          <div class="d-flex mt-2">
            <button
              type="button"
              class="btn btn-primary btn-sm ms-auto"
              (click)="agregarResponsabilidad(i)"
            >
              +
            </button>
          </div>
          <div
            *ngFor="
              let responsabilidad of nuevo.experienciaLaboral[i]
                .responsabilidades;
              let j = index
            "
          >
            <label for="inputResponsabilidad{{ j }}"
              >Responsabilidad {{ j + 1 }}</label
            >
            <button
              *ngIf="nuevo.experienciaLaboral[i].responsabilidades.length > 1"
              type="button"
              class="btn btn-danger btn-sm mx-2 mb-1"
              (click)="removerResponsabilidad(i, j)"
            >
              -
            </button>
            <input
              id="inputResponsabilidad{{ j }}"
              type="text"
              name="responsabilidad"
              class="form-control"
              [(ngModel)]="
                nuevo.experienciaLaboral[i].responsabilidades[j].nombre
              "
            />
          </div>
          <div class="row">
            <div class="col">
              <label for="inputExperienciaFechaInicio{{ i }}">Inicio</label>
              <input
                id="inputExperienciaFechaInicio{{ i }}"
                type="date"
                name="fecha"
                class="form-control"
                [(ngModel)]="nuevo.experienciaLaboral[i].fechaInicio"
              />
            </div>
            <div class="col">
              <label for="inputExperienciaFechaFin{{ i }}">Fin</label>
              <input
                id="inputExperienciaFechaFin{{ i }}"
                type="date"
                name="fecha"
                class="form-control"
                [(ngModel)]="nuevo.experienciaLaboral[i].fechaFin"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row mb-3">
      <div class="col">
        <div class="d-flex">
          <h3>Habilidades</h3>
          <button
            type="button"
            class="btn btn-primary btn-sm ms-auto"
            (click)="agregarHabilidad()"
          >
            +
          </button>
        </div>
        <div
          *ngFor="let habilidad of nuevo.habilidades; let i = index"
          class="row"
        >
          <div class="col-sm-9">
            <label for="inputHabilidad{{ i }}">Habilidad {{ i + 1 }}</label
            ><button
              *ngIf="nuevo.habilidades.length > 1"
              type="button"
              class="btn btn-danger btn-sm mx-2 mb-1"
              (click)="removerHabilidad(i)"
            >
              -
            </button>
            <input
              id="inputHabilidad{{ i }}"
              type="text"
              name="habilidad"
              class="form-control"
              [(ngModel)]="nuevo.habilidades[i].nombre"
            />
          </div>
          <div class="col-sm-2">
            <label for="inputPorcentaje{{ i }}">Porcentaje</label>
            <input
              id="inputPorcentaje{{ i }}"
              type="number"
              name="porcentaje"
              class="form-control"
              min="0"
              max="100"
              [(ngModel)]="nuevo.habilidades[i].porcentaje"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center m-1">
        <button type="button" class="btn btn-secondary">
          <a routerLink="/" class="text-white text-decoration-none">Regresar</a>
        </button>
      </div>
      <div class="col d-flex justify-content-center m-1">
        <button type="submit" class="btn btn-primary">Finalizar</button>
      </div>
    </div>
  </form>
</div>
